* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Sidebar */

.hamburguer {
    display: none;
}

.left_side {
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #1d282b;
    position: fixed;
    height: 100%;
    overflow: auto;
    color: white;
}

.logo_text {
    text-align: center;
    font-size: 1.3em;
    color: #56b7c8;
    padding-bottom: 10%;
}

.logo_text img {
    padding-top: 10%;
}

.left_menu ul li a {
    display: block;
    color: white;
    padding-left: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-decoration: none;
}

.left_side a.active {
    background-color: #56b7c8;
    color: white;
}

.left_menu ul li a:hover {
    background-color: #56b7c8;
    color: white;

}

.social_img {
    text-align: center;
    margin: 10% 0;
}


/* Content */

div.wrapper {
    margin-left: 15%;
    padding: 1% 2%;
    width: auto;
    overflow: hidden;
}

div.wrapper div.text_block img {
    width: 40%;
    width: 40%;
    object-fit: cover;
    object-position: bottom;
}

div.wrapper div.text_block img:nth-child(4) {
    width: 60%;
    width: 60%;
    object-fit: cover;
    object-position: bottom;
}


div.text_block h2 {
    padding: 3% 0;
}

div.text_block p {
    text-align: justify;
    padding: 1% 0;
}

.auto_img {
    display: block;
    margin: auto;
}

div.text_block p:nth-child(5) {
    text-align: justify;
    padding-bottom: 3%;

}


/* Footer */

div.footer {
    display: flex;

}

div.footer div.footer_block h4 {
    padding-bottom: 5%;
    font-size: 20px;
}

div.footer_block {
    float: left;
    width: 33.33%;
    padding: 5px;
}

div.footer::after {
    content: "";
    clear: both;
    display: table;
}

.footer_block img {
    height: 50%;
    width: 50%;
    object-fit: cover;
}

.footer p {
    text-align: justify;
    width: 60%;
    padding: 3%;

}

.horizontal-line {
    width: 100%;
    padding: 1% 0 3% 0;
}

/* Media queries */

@media only screen and (max-width: 1100px) {

    .left_side {
        width: 80px;
    }

    .hamburguer {
        width: 30%;
        display: block;
        margin: auto;
        padding-top: 50%;
    }

    h1.logo_text,
    .social_img,
    div.left_menu {
        display: none;
    }

    div.wrapper div.text_block img {
        width: 60%;
        height: 60%;
        object-fit: cover;
        object-position: bottom;
    }

    div.wrapper div.text_block img:nth-child(4) {
        width: 80%;
        height: 80%;
        object-fit: cover;
        object-position: bottom;
    }

    div.footer {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .footer p {
        text-align: justify;
        width: 80%;

    }

    .footer_block img {
        height: 90%;
        width: 90%;
        object-fit: cover;
    }

    div.footer_block h4 {
        width: 80%;
        padding-top: 30px;
    }

    div.footer_block {
        width: 100%;
    }
}